################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ide
*.suo
*.lock
*.ide-shm
*.ide-wal
*.dtbcache
