
  <div class="row heading">
      <div class="col s12">
        <h2 class="title">Lista de Veiculos</h2>
        <div class="heading__tools">
          <div class="search search--right">
            <mat-form-field>
              <mat-icon svgIcon="slidenav-search"></mat-icon>
              <input matInput name="pesquisar" (keyup)="aplicaFiltro($event.target.value)" placeholder="Pesquisar">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12">
        <mat-table #table [dataSource]="fonteDados" matSort class="table-striped">

          <ng-container matColumnDef="actionsColumn">
            <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-icon class="link_action" svgIcon="form-trash" matTooltip="Excluir" (click)=excluirConfirmacao(element.codigo)></mat-icon>
              <mat-icon class="link_action" svgIcon="form-edit" matTooltip="Editar" (click)=editar(element.codigo)></mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="placa">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.placa}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ano">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Ano </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ano}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="modelo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.modelo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="codigoCor">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo da Cor </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.codigoCor}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="chassi">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Chassi </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.chassi}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="passageiros">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Passageiros </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.passageiros}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="portas">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Portas </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.portas}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="registro">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Registro </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.registro}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator name="paginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
    </div>

