<h2>Cadastro de Municipio</h2>
<form>
  <div class="row">
    <div class="col s12 m12 l4">
      <!-- Usar um Input com o Componete do Material <mat-form-field> -->
      <mat-form-field>
        <input matInput name="codigo" required placeholder="Código" [(ngModel)]="municipio.codigo">
      </mat-form-field>
    </div>
    <div class="col s12 m12 l8">
        <!-- Usar um Input com o Componete do Material <mat-form-field> -->
        <mat-form-field>
          <input matInput name="descricao" required [(ngModel)]="municipio.descricao" placeholder="Descrição">
        </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!--Domicilios-->
    <div class="col s12 m4 l4">
        <mat-form-field>
          <input matInput name="domicilios" [(ngModel)]="municipio.domicilios" placeholder="Domicilios">
        </mat-form-field>
    </div>
    <!--População-->
    <div class="col s12 m4 l4">
        <mat-form-field>
          <input matInput name="populacao" [(ngModel)]="municipio.populacao" placeholder="População">
        </mat-form-field>
    </div>
    <!--Pib-->
    <div class="col s12 m4 l4">
        <mat-form-field>
          <input matInput placeholder="PIB" name="pib" required [(ngModel)]="municipio.pib">
        </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!--Estado-->
    <div class="col s12 m6 l6">
        <mat-form-field>
          <mat-select name="estado" placeholder="Estado" [(ngModel)]="municipio.codigoEstado" >
            <!--let == var var item in estados-->
            <mat-option *ngFor="let item of cores" [value]="item.codigo">
              {{item.descricao}} - {{item.sigla}}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
  </div>

  <button mat-raised-button (click)="salvar()">Salvar</button>
  <input type="submit">

</form>
