<h2>Cadastro de Pessoa</h2>
<form>
  <div class="row">
    <!--Codigo-->
    <div class="col s12 m12 l2">
      <mat-form-field>
        <input matInput name="codigo" required maxlength="100"  [(ngModel)]="felipe.codigo" placeholder="Código">
      </mat-form-field>
    </div>
    <!--Descricao-->
    <div class="col s12 m12 l10">
      <mat-form-field>
        <input matInput name="nome" required maxlength="100"  [(ngModel)]="felipe.nome" placeholder="Nome">
      </mat-form-field>
    </div>
    <!--Sigla-->
    <div class="col s12 m12 l6">
      <mat-form-field>
        <input matInput name="idade" required maxlength="3" [(ngModel)]= "felipe.idade" placeholder="idade">
      </mat-form-field>
    </div>
    <!--Ativo depois-->
    <div class="col s12 m12 l6">
      <mat-checkbox [(ngModel)]="felipe.ativo" name="ativo" color="ihara">
      </mat-checkbox>
      <label> Ativo </label>
    </div>
  </div>
</form>
<div class="row footer-btn">
  <div class="button-row col s12">
      <button mat-raised-button (click)="voltar()" >Voltar</button>
      <button *ngIf="!edicao" mat-raised-button color="green" (click)="salvar()">Salvar</button>
      <button *ngIf="edicao" mat-raised-button color="green" (click)="atualizar()">Atualizar</button>
  </div>
</div>
